Flask==2.1.0
Flask-RESTful
Werkzeug
future==0.16.0
jsonpickle==0.9.4
pandoc==1.0.0b2
six==1.10.0
typing==3.6.2
ConfigArgParse==0.12.0
gunicorn==19.7.1
itsdangerous==2.0.1
spacy==3.2.0
opensearch-py==1.0.0
strsimpy
nltk
torch==1.8.1
transformers==4.6.1
compound-word-splitter
pyenchant
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz